eval "$(conda shell.bash hook)"
export CONDA_ENV_NAME=$(grep name: environment.yml | sed -e 's/name: //' | cut -d "'" -f 2 | cut -d '"' -f 2)
if [[ $(conda info -e) == *$CONDA_ENV_NAME* ]]; then
    conda activate $CONDA_ENV_NAME
else
    (>&2 echo "Pipeline will not work until \`make init\` is run!");
    exit 1;
fi;
export PY_CONDA=$(which python)
export PY_SECONDARY="./.venv/bin/python"
export GOOGLE_APPLICATION_CREDENTIALS="$(pwd)/autoicd-gcp-credentials.json"
export NVIDIA_VISIBLE_DEVICES=0
export CUDA_VISIBLE_DEVICES=0

if [[ $(whoami) == "j" ]]; then
    echo ":: loading enviornment for jeremys ubuntu box ::"
else
    echo ":: custom enviornment for `whoami` not specified ::"
fi;
