/L.pifa-tfidf.npz
/C.trn.pifa-tfidf-s0.npz
/C.tst.pifa-tfidf-s0.npz
/log.bert.24.txt
/X.bert.trn.24.pkl
/X.bert.tst.24.pkl
/X.trn.bert.128.pkl
/X.tst.bert.128.pkl
/log.bert.128.txt
/X.trn.bert.pkl
/X.tst.bert.pkl